/* Подключение шрифтов */
/* ubuntu-regular - cyrillic_latin */
@font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/ubuntu-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
      src: url('../fonts/ubuntu-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/ubuntu-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
           url('../fonts/ubuntu-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
           url('../fonts/ubuntu-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
           url('../fonts/ubuntu-v20-cyrillic_latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
    }
    /* ubuntu-500 - cyrillic_latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 500;
      src: url('../fonts/ubuntu-v20-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
      src: url('../fonts/ubuntu-v20-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/ubuntu-v20-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
           url('../fonts/ubuntu-v20-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
           url('../fonts/ubuntu-v20-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
           url('../fonts/ubuntu-v20-cyrillic_latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
    }
    /* ubuntu-700 - cyrillic_latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 700;
      src: url('../fonts/ubuntu-v20-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
      src: url('../fonts/ubuntu-v20-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/ubuntu-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
           url('../fonts/ubuntu-v20-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
           url('../fonts/ubuntu-v20-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
           url('../fonts/ubuntu-v20-cyrillic_latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
    }
    /* tlobal style */
    *,
    * ::before,
    * ::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }
    :root {
     --yellow: #e8cb0f;
     --dark-gray: #2a363b;
     --light-gray: #f2f2f2;
     --bg-light: #f1f2f6;
     --color-text: #324046;
     --time:4s;
     --qty:3;
    }
    body{
     font-family: 'Ubuntu', sans-serif;
     background-color: var(--bg-light);
     font-size: 18px;
     font-weight: 400;
     color: var(--color-text);
    }
    a{
     text-decoration: none;
    }
    ul {
     list-style: none;
    }
    section{
     padding: 3% 15%;
    }
    header, footer{
     padding: 1% 15%;
    }
    .btn{
     background-color: var(--yellow);
     color: var(--dark-gray);
     padding: 10px 25px;
     border-radius: 30px;
     border: 1px solid var(--yellow);
     transition: all 0.3s ease;
    }
    .btn:hover{
     background-color: #fff;
    }
    .active{
     border-bottom:2px dashed var(--yellow);
     padding-bottom: 5px;
    }
    .section-title{
     font-size: 42px;
     font-weight: 500;
     text-align: center;
     margin: 0 0 0.5em 0;
    }
    /********************* Home page *******************/
    /* header */
    .header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 22px;
     font-weight: 700;
     line-height: 1.5;
     color: var(--dark-gray);
    }
    .header__all{
     display: flex;
     align-items: center;
    }
    .call-text{
     margin-right: 30px;
    }
    /* header adaptive */
    @media  (max-width: 1200px){
     .header{
          justify-content: space-around;
          flex-wrap: wrap;
          line-height: 2.5em;
     }
    }
    @media (max-width: 480px){
     .header{
          justify-content: center;
          font-size: 18px;
     }
     .logo-image{
          max-width: 80%;
     }
     .header__logo{
          text-align: center;
     }
    }

    /* menu */
    .nav{
     /* фиксирование меню к верху */
     background-color: var(--dark-gray);
     position: sticky;
     top:0;
     z-index: 10;
    }
    .menu{
     display: flex;
     justify-content: center;
    }
    .menu__item{
     padding: 30px 55px;
    }
    .menu-link{
     color: #fff;
     text-transform: uppercase;
     font-weight: 700;
     transition: all 0.3s ease;
    }
    .menu-link:hover{
     color: var(--yellow);
    }

    @media (max-width:1220px){
     .menu{
          flex-wrap: wrap;
     }
     .menu__item{
          padding: 20px 45px;
     }
    }
    @media (max-width:768px){
     .menu{
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .menu__item{
          padding: 15px 45px;
     }
     .menu-item:last-child{
          margin-bottom: 30px;
     }
     .nav{
          position: relative;
          z-index: 0;
     }
    }
    /* about */
     .about{
          background-image: url(../img/index/about.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 80vh;
          text-align: center;
     }
     .about-title{
          font-size: 48px;
          font-weight: 700;
          margin: 80px 0;
     }
     .about-text{
          font-size: 24px;
          line-height: 2;
     }
     /* about adapt */
     @media (max-width:1220px){
          .about{
          height: 65vh;
          padding: 1% 5%;
          }
          .about-title{
               font-size: 38px;
               margin: 50px 0;
          }
          .about-text{
               font-size: 20px;
          }
     }
     @media (max-width:768px){
          .about{
               background-image: url(../img/index/about-adapt.jpg);
          height: 50vh;
          padding: 1% 5%;
          }
          .about-title{
               font-size: 32px;
               margin: 30px 0;
          }
          .about-text{
               font-size: 18px;
          }
     }
     @media (min-width:320px) and (max-width:698px){
          .about{
               background-image: none;
          height: 60vh;
          padding: 1% 5%;
          }
          .about-text{
               line-height: 1.7;
          }
     }

     /* number */
     .number{
          background-color: var(--light-gray);
          scroll-margin-block: 1em;
     }
     .number__inner{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          text-align: center;
          margin-top: 70px;
     }
     .number__item{
          font-size: 26px;
          flex: 0 0 20%;
          opacity: 0;
          animation: number 2s forwards;
     }
     .number-item-link{
          background-color: var(--yellow);
          border-radius: 50%;
          padding: 40px;
          color: var(--dark-gray);
          font-weight: 700;
          display: inline-block;
     }
     .number-item-link:hover{
          background-color: var(--dark-gray);
          color: var(--yellow);
     }
     .nimber-item-text{
          margin-top: 30px;
          line-height: 1.3;
     }
     @keyframes number {
          0% {
               opacity: 0;
          }
          50% {
               opacity: 0.5;
          }
          100% {
               opacity: 1;
          }
     }
     /* number adaptive */
     @media (max-width:1024px) {
          .number {
               padding: 5%;
          }
          .section-title{
               font-size: 32px;
          }
          .number__item{
               font-size: 22px;
               flex: 1 0 50%;
               margin-bottom: 20px;
          }
          
     }
     /* feature */
     .feature{
          background-color: #fff;
     }
     .feature__list{
          margin-top: 50px;
          font-size: 24px;
          counter-reset: feature-number;
     }
     .f-list-item{
          position: relative;
          padding: 0 0 30px 80px;
     }
     .f-list-item::before{
          position: absolute;
          display: inline-block;
          content: counter(feature-number);
          counter-increment: feature-number;
          width: 45px;
          height: 45px;
          border: 3px solid var(--yellow);
          border-radius: 50%;
          font-size: 28px;
          color: var(--yellow);
          top: 8px;
          left: 0px;
          text-align: center;
          vertical-align: middle;
     }
     .text_yellow{
          color: var(--yellow);
          font-weight: 500;
     }

     @media (max-width: 1200px) {
          .feature {
               padding:3% 5%;
          }
          .feature__list{
            font-size: 22px;   
          }
          
     }

     @media (max-width: 768px) {
          .feature {
               padding: 5%;
          }
          .feature__list{
            font-size: 18px; 
          }  
          .f-list-item{
               padding: 0 0 20px 0;
               text-align: center;
            }
            .f-list-item::before{
               display: none;
            }
}


/*  portfolio */
.portfolio__inner{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     margin-top: 60px;
}
.portfolio-item{
     border-radius: 5px;
     min-height: 32vh;
     background-size: cover;
     background-position: center;
     transition: all 0.5s;
}
.portfolio-item:nth-child(2){
     grid-column: 2/4;
}
.portfolio-item:nth-child(4){
     grid-column: 1/3;
}
.portfolio-item:nth-child(6){
     grid-column:4;
     grid-row: 2/4;
}
.portfolio__button{
     grid-column: 1/5;
     text-align: center;
     margin-top: 50px;
}
.btn_big{
     padding: 20px 25px;
}

.portfolio-item:hover{
     transform: scale(1.2);
     border: 3px solid var(--yellow);
}


@media (max-width: 1200px) {
     .portfolio {
          padding:3% 5%;
     }
}


@media (max-width: 768px) {
     .portfolio__inner{
          grid-template-columns: repeat(3, 1fr);
     }
     .portfolio__button{
          margin: 50px 0;
     }
     .btn_big{
          padding: 15px 20px;
          
     }
}

@media (max-width: 650px) {
     .portfolio__inner{
          grid-template-columns: repeat(2, 1fr);
     }
     .portfolio-item{
          min-height: 25vh;
     }
     .portfolio-item{
     grid-column: 1/5;
}
.portfolio-item:nth-child(2){
     grid-column: 1/2;
}
}
/* servieces */
.servieces{
     background-color: #fff;
     scroll-margin-top: 50px;
}

.servieces__inner{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     margin: 50px 0;
     align-items: center;
}
.servieces__item img{
     object-fit: cover;
     width: 100%;
     transition: all 0.5s;
}
.servieces__item img:hover{
     filter:grayscale(100%);
}
.servieces__item{
     position: relative;
     z-index: 0;
}
.servieces__item-title{
     color: var(--yellow);
     margin-bottom: 20px;
}

.servieces__item:first-child{
     padding-right: 30px;
}

.servieces__item:nth-child(3), 
.servieces__item:nth-child(6), 
.servieces__item:nth-child(8){
     padding: 20px 30px;
}
.servieces__item-text{
     font-size: 18px;
     line-height: 1.3;
}

.servieces__item:nth-child(2)::before,
.servieces__item:nth-child(4)::before{
     position: absolute;
     content: "";
     z-index: -1;
     border: 20px solid transparent;
     border-right: 20px solid var(--yellow);
     top: 40%;
     right: 99%;

}
.servieces__item:nth-child(5)::after,
.servieces__item:nth-child(7)::after{
     position: absolute;
     content: "";
     z-index: -1;
     border: 20px solid transparent;
     border-left: 20px solid var(--yellow);
     top: 50%;
     left: 99%; 
}

@media (max-width: 1440px) {
     .servieces{
          padding: 3% 5%;
     }
     
}

@media (max-width: 1200px) {
     .servieces__inner{
          grid-template-columns: repeat(2, 1fr);
     }
     .servieces__item:nth-child(3){
     padding: 20px 30px 20px 0;
}

}

@media (min-width: 320px) and (max-width: 540px) {
     .servieces__inner{
          grid-template-columns: repeat(1, 1fr);
     }
 .servieces__item:nth-child(2)::before,
 .servieces__item:nth-child(4)::before, 
 .servieces__item:nth-child(5)::after,
 .servieces__item:nth-child(7)::after{
     border: none;
     border-left: none;
     border-right: none;
}
.servieces__item{
     text-align: center;
}
.servieces__item:nth-child(1){
     padding-bottom: 20px;
}
.servieces__item:nth-child(5){
     order: 5;
}
.servieces__item:nth-child(6){
     order: 4;
}
.servieces__item:nth-child(7){
     order: 8;
}
.servieces__item:nth-child(8){
     order: 7;
}
}
/* заявка */


.from{
     background-image: url(../img/index/request.jpg);
     background-repeat:no-repeat ;
     background-size: cover;
     height: 50vh;
     background-position: center;
     padding: 3% 5%;
     background-attachment: fixed;
}
.section-title_white{
     color: #fff;
}
.request{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 150px;
}
.request-input{
     width: 20%;
     margin: 0 20px;
     font-size: 18px;
     padding: 15px;
     border-radius: 2px;
     border: none;
}
.request-btn{
     padding: 15px 35px;
     font-size: 18px;
}

.request-input:focus{
     outline: none;
     border: 1px solid var(--yellow);
}
.request-input::placeholder{
     font-family: 'Ubuntu';
}
@media (max-width: 1200px) {
     .from{
          padding: 3% ;
     }
     .request-input{
          width: 30%;
     }
}

@media (max-width: 1024px) {
     .request{
          flex-direction: column;
          margin-top: 50px;
     }
     .request-input{
          width:80%;
          margin: 20px;

     }
     .from{
          height: 55vh;
     }
}
@media (max-width: 620px){
     .from{
          height: 60vh;
     }
}

@media (max-width: 350px){
     .from{
          height: 65vh;
     }
}

/* footer */
#buttonUp{
     display: none;
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 10;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     background-color: var(--dark-gray);
     border: 1px solid var(--yellow);
}
#buttonUp:hover{
     background-color: var(--yellow);
}
.footer{
     display: flex;
     justify-content: space-between;
     background-color: var(--dark-gray);
     align-items: center;
     color: #fff;
}
.footer-link{
     color: #fff;
     line-height: 2;
     border-bottom: 1px dashed var(--yellow);
     transform: all 0.5s;
}

.footer-link:hover{
     color: var(--yellow);
}
.footer__social{
     text-align: center;
}
.social__icon i{
     font-size: 24px;
     color: var(--yellow);
     margin: 0 5px;
}
.social__icon{
     margin-top: 15px;
}

.social__icon i:hover{
     color: #fff;
}
.footer__contact{
     line-height: 2;
}
.contact__list-item i{
     color: var(--yellow);
     margin-right: 10px;
}


@media (max-width: 1200px) {
     header, footer {
          padding:1% 10%;
     }
}


@media (max-width: 1024px) {
     .footer{
          padding: 2% 5%;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 20px;
          text-align: center;
         }
         .footer__logo{
          order:1 ;
         }
         .footer__link{
          order: 3;
         }
         .footer__social{
          order: 2;
         }
         .footer__contact{
          order: 4;
         }
     }
@media (max-width: 624px) {
     .footer{
          grid-template-columns: 1fr;
         
         }
         .footer__logo{
          order:1 ;
         }
         .footer__link{
          order: 2;
         }
         .footer__social{
          order: 4;
         }
         .footer__contact{
          order: 3;
         }
     }
/********************Страница hall********************/
.section-sudtitle{
     text-align: center;
     font-size: 32px;
     font-weight: 500;
     margin: 1.5em 1em;
}
/* спойлер */
.hall-item{
     padding: 15px 0;
     border-bottom: 1px solid var(--yellow);
}
.hall-item-title{
     display: flex;
     align-items: center;
     font-size: 22px;
     font-weight: 500;
}
details summary::webkit-details-marker{
     display: none;
}
.hall-item-title::before{
     content: '+';
     font-size: 48px;
     color: var(--yellow);
     margin-right:10px ;
}
details[open] .hall-item-title::before{
     content: '-';
}
.rent-list{
     line-height: 2;
     list-style: disc;
     padding-left: 20px;
}
.Hall__descriplion{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0% 15%;
}
/* неуправляемый слайдер */
.hall-slider{
     position: relative;
     width: 50%;
     height: 27em;
     overflow: hidden;
}
.hall-slider-slide{
     position: absolute;
     width: 100%;
     height: 100%;
     left: -100%;
     animation: slide calc(var(--time)* var(--qty)) linear infinite;
     z-index: 0;
}
.hall-slider-slide:nth-child(2){
     animation-delay: var(--time);
}
.hall-slider-slide:nth-child(3){
     animation-delay: calc(var(--time)*2);
}
@keyframes slide {
     0%{
          z-index: 10;
     }
     7%{
          left:0;
     }
     66%{
          left: 0;
     }
     100%{
          left: -100%;
     }
}
.hall-text{
     width: 45%;
     line-height: 1.5;
}
.bron{
     margin: 20px 0;
}
.hall-text-list{
     list-style: disc;
     padding-left:15px ;
}
/* таблица */
.hall-table{
     max-width: 100%;
     border-collapse:collapse;

}
.head-table td{
    font-weight: 500;
}
.hall-table td{
     padding: 15px;
     border-bottom: 1px solid var(--yellow);
}
.hall-table tr{
     transition: all 0.4s;
}
.hall-table tr:hover{
     background-color: #e4e4e4;
}
/* hall adaptive */
@media (max-width: 1200px) {
     .Hall__descriplion{
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 3% 10%;
     }
     .hall-text{
          width: 100%;
          line-height: 1.5;
     }
     .hall-slider{
          width: 100%;
     }
     .milan-slide{
          order: 1;
     }
     .milan-text{
          order: 2;
     }
}
@media (max-width: 768px) {
     .hall-table{
          display: flex;
          flex-direction: column;
          justify-content: center;
     }
     .hall-table thead,
     .hall-table tbody,
     .hall-table tr{
          display: contents;
     }
     .hall-table td{
          display: block;
          text-align: center;
          padding: 10px;
     }
     .hall-table td:hover{
          background-color: #e4e4e4;
     }
     .hall-table td:nth-of-type(1){
          order: 1;
     }
     .hall-table td:nth-of-type(2){
          order: 2;
     }
     .hall-table td:nth-of-type(3){
          order: 3;
     }
     .hall-table td:nth-of-type(4){
          order: 4;
     }
     .section-sudtitle{
          margin: 0.5em 0em;
     }
     .hall-slider{
          height: 17em;
     }
}
@media (max-width: 480px) {
     .hall-slider{
          height: 10em;
     }
}
/***************** Страница "контакты" *****************/ 

.servieces{
     background-color: var(--bg-light);
}
.section-contact_grid{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 7vw;
     margin-left: -30px;
     margin-top:7vh;
}
.contact__list-item{
     padding: 7.75px;
     margin-left: 8px;
}
.section-contact-title{
     padding-bottom:22px;
     margin-left: 14px;
     font-size: 21px;
     font-weight: 500;
}
.section-contact__info{
     padding: 35px 0px 35px 20px;
     width: 105%;
     background-color: #fff;
}
@media (max-width: 935px) {
     .section-contact_grid{
          grid-template-columns: 1fr;
     }
     .section-contact__info{
          width: 100%;
     }
}

@media (max-width: 410px) {
     .section-contact-title{
          font-size: 18px;
     }
     .section-contact__info{
          font-size: 15px;
          width: 100%;
     }
}
@media (max-width: 350px) {
     .section-contact-title{
          font-size: 16px;
     }
     .section-contact__info{
          font-size: 13px;
     }
}
/* photo */
.section-contact_grid-photo{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1vw;
     width: 100%;
}
.section-contact_grid-photo img{
     object-fit: cover;
     width: 94%;
     height: 100%;
     padding-bottom: 30px;
     padding-left: 0.5vw;
}
.section-contact_grid-photo__img-exit{
     margin-left:2vw;
}
.servieces-contact-photo p{
     margin:-3vh 0 2vh 2vw;
     padding-top: 4vh;
     font-size: 20px;
}
.servieces-contact-photo{
     width: 93%;
background-color: #fff;
padding: 0px -4vw 0 0;
margin: -3.5vw 0 0 2.5vw;
}
.servieces-title-card{
     text-align: center;
     font-size: 2.5vw;
}
.back{
     background-color: none;
}
@media (max-width: 935px) {
     .section-contact_grid-photo{
          grid-template-columns: 1fr;
          gap: 0;
     }
     .servieces-contact-photo{
          padding: 0;
          margin:0;
          margin-top: 9vh;
          width: 100%;
     }
     .servieces{
          margin: 0;
          padding: 0;
     }
     .section-contact_grid-photo img{
          object-fit: cover;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
     }
     .servieces-title-card{
          font-size: 4vw;
          padding-top: 4vh;
     }

}

@media (max-width: 410px) {
     .servieces-contact-photo p{
          font-size: 18px;
     }
}


/***************** Страница "портфолио" *****************/

.photo__filter{
     margin: 50px 0;
}
.filter-radio{
     position: absolute;
     display: none;
}
.filter__controls{
     text-align: center;
     margin-bottom: 2rem;
}
.filter__controls *{
     display: inline-block;
}
.controls-label{
     background-color: var(--yellow);
     border-radius: 0.7rem;
     padding:0.5rem 1rem ;
     margin: 0.25rem;
     cursor: pointer;
}
.portfolio__photo{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 0.5em;
}
.portfolio__item{
     position: relative;
     z-index: 0;
     transition: all 0.5s;
}
.photo-item-img{
     width: 100%;
     height: 50vh;
     object-fit: cover;
     border-radius: 5px;
}
[value="all"]:checked~.portfolio__item[data-cetegory]{
     display: block;
}

[value="family"]:checked~ .portfolio__photo .portfolio__item:not([data-category~="family"]),
[value="friends"]:checked~ .portfolio__photo .portfolio__item:not([data-category~="friends"]),
[value="love"]:checked~ .portfolio__photo .portfolio__item:not([data-category~="love"]),
[value="person"]:checked~ .portfolio__photo .portfolio__item:not([data-category~="person"]),
[value="baby"]:checked~ .portfolio__photo .portfolio__item:not([data-category~="baby"]),
[value="pet"]:checked~ .portfolio__photo .portfolio__item:not([data-category~="pet"])
{
     display: none;
}


/* adaptacia filter */
@media  (max-width: 1200px){
     .portfolio__photo{
          grid-template-columns: repeat(3, 1fr);
     }
}
@media  (max-width: 1024px){
.portfolio__photo{
     grid-template-columns: repeat(2, 1fr);
}
}
@media  (max-width: 768px){
     .portfolio__photo{
          grid-template-columns: 1fr;
     }
     .photo-item-img{
          height: 40vh;
     }
     .controls-label{
          font-size: 14px;
     }
     .photo__filter{
          margin: 30px 0;
     }
     }
          